.posts{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    div{
        width: 300px;
        height: 250px;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 20px;
        position: relative;
        margin: 10px;
        button{
            position: absolute;
            right: 5px;
            top: 5px;
            border-radius: 0 20px 0 0;
            border:none;
            background:none;
        }
        img{
            width: 100%;
            height: 80%;
            border:1px solid black;
            border-radius: 0px 0px 20px 20px;
        }
        p{
            font-family: monospace;
            text-align: center;
            font-size: 25px;
            height: 20%;
        }
    }
}