*{
    font-family: monospace;
}
.mneu{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    font-size:17px;
    background-color:lightslategray;
    font-weight: 800;

    .menu{
        display: flex;
        flex-wrap: wrap;
    }
    .icon-mobile{
        display: none;
    }

    a{
        text-decoration: none;
        color:white;
        padding: 10px;
        &:hover{
            color:lightslategray;
            background:white;
            transition: 0.5s;
            border-radius: 10px;
        }
    }
    input{
        border-radius: 10px;
        font-size: 15px;
        padding-left: 5px;
        &:focus{
            outline: none;
        }
    }
}
.mas3-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.mas3-2d1{
    width: 25%;
    height: 100%;
    border: 2px solid lightslategray;
    outline: 2px solid white;
    border-radius: 0px 0px 10px 0;
    font-size: 20px;
    p{
        margin-left: 95px;
    }
    .picture {
        border-radius: 50%;     
    }

    .pictureProfile {
        margin-left: 80px;
        margin-top: 10px;
    }
}
.mas3-2d2{
    width: 50%;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid lightslategray;
    outline: 2px solid white;
    // font-size: 20px;
    overflow-y: scroll;
    background-image:url("http://localhost:3000/image/leftbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div{
        position: relative;
        i{
            position: absolute;
            left: 2px;
            bottom: 0px;
        }
        div{
            i{
                position: absolute;
                left:3px;
                bottom: 0;
            }
        }
    }
}
.mas3-2d3{
    width: 25%;
    height: 100%;
    border-radius: 0px 0px 0px 10px;
    border: 2px solid lightslategray;
    outline: 2px solid white;box-shadow: 0px 0px 5px 2px lightslategray;
    font-size: 20px;
    text-align: right;
}
.post{
    border:1px solid black;
    width: 500px;
    height: 300px;
    background-color: white;
    .liked{
        background-color: white;
        border:1px solid black;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}
.likes{
    display: none;
}
.hov{
    &:hover{
        .likes{
            display: block;
        }
    }
}