$width:500px;
$bg:blue;
$col:lightblue;
@mixin chenge($x,$y){
    background:$x;
    color:$y;
    padding: 10px 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("http://localhost:3000/image/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    div{
        box-shadow: 1px 1px 3px 2px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        background-image: url("http://localhost:3000/image/logindiv.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        .error-message{
            color: red;
        }
        h2{
            color: rgb(66, 66, 240);
            font-family: monospace;
            letter-spacing: 2px;
            font-size: 25px;
        }
        img{
            width: 30px;
            height: 30px;
        }
        label{
            display: flex;
            align-items: center;
        }
        input{
            width: 300px;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border:2px solid #e6e6e6;
            background: #e6e6e6;
            outline: none;
            &:hover{
                box-shadow: none;
                border-bottom: 2px solid black;
                transition: 0.5s;
            }
            @media(max-width: $width){
                width: 100px;
            }
            &::placeholder{
                font-family: gabriola;
                font-weight: 700;
                color: rgb(66, 66, 240);
                font-size: 30px;
            }
        };
        button{
            outline: none;
            border-radius: 10px;
            border:none;
            @include chenge($bg,$col);
            &:hover{
                @include chenge($col,$bg);
                transition: 0.5s;
            };
            outline: none;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 900;
            font-family: monospace
        };
        &:hover{
            box-shadow: 1px 1px 5px 5px rgb(80, 79, 79);
            transition: 0.5s;
        }
        a {
            @extend button;
            margin: 10px 0 0 0;
            text-decoration: none;
            text-align: center;
            font-weight: 900;
            font-family: monospace
        }
    }
}